.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-shrink: 0px;
    min-width: 0px;
    padding: 10px 0px 0px 10px;}

.profile {
    display:flex;
    flex-direction: row;
    gap: 5px;
    height: 120px;
    padding-bottom: 10px;}

.left-side {width:80px;}

.channel-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height:60px;
    border-radius: 30px;
    object-fit: cover;}


.right-side {
    display: flex;
    flex-direction: row;
    flex:1;
    Min-width: 300px;
    align-items: flex-start;
    gap: 60px;}

.profile-info {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;}

.name {font-size: 25px;
    padding-bottom: 4px;}

.description {
    font-size: 17px;
    color: #606060;
    padding-bottom: 4px;}

.popularity {
    font-size: 15px;
    color: #767676;
    padding-bottom: 4px}

.Follow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:12px;
    width: 100px;
    height:40px;
    border-radius: 4px;
    background-color: hsl(203, 69%, 51%);
    border-color:hsl(203, 69%, 51%);
    outline:none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;}
    font-weight: bold;
    text-align: center;}
